@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oswald';
    src: url('../public/fonts/Oswald/Oswald-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../public/fonts/Oswald/Oswald-Bold.ttf');
    font-weight: bold;
}

.coba{
    @apply container mx-auto my-16 font-oswald_learn;
}